body, #root {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.RiskyPane {
  background-color: rgb(42, 42, 42);
  height: calc(100vh - 50px);
}

.RiskyNavBar {
  width: 100%;
  height: 50px;
  background-color: rgb(48, 48, 48);
}

.RiskyTree {
  height: calc(100vh - 50px);
}

/* Text Colors */
body, #root, .MuiFormLabel-root.MuiInputLabel-root, .MuiInputBase-input.MuiOutlinedInput-input {
  color: rgb(211, 211, 211)
}
