body, #root {
  margin: 0;
  font-family: 'Open Sans', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/*
.RiskyPane {
  background-color: rgb(42, 42, 42);
  height: calc(100vh - 50px);
  padding: 15px;
  width: 300px;
}

.RiskyNavBar {
  width: 100%;
  height: 50px;
  background-color: rgb(48, 48, 48);
}
*/
.RiskyTree {
  height: calc(100vh);
  width: 100%;
  background-color: #191919;
}

.treeSelectCenter {
  margin: auto;
  margin-top: 12px;
  background-color: rgb(42, 42, 42);
  /*same as paneBackground*/
  width: 30vw;
  min-width: 240px;
  max-width: 440px;
  border: 2px solid rgb(238, 238, 238, .4);
  padding: 16px;
  border-radius: 4px;
}

#projectName {

  background-color:rgb(42, 42, 42); /*same as paneBackground*/
  width:15vw;
  min-width:180px;
  max-width:240px;
  border:2px solid rgb(238, 238, 238, .4);
  padding:16px;
  border-radius:4px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  
  }


@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans'), url(./fonts/OpenSans.ttf) format('truetype');
}

.test1 {
  height:auto;
  width:auto;



}
.imgContainer{

  width:250px;

position:relative;
padding:10px;
object-fit:contain;
margin-bottom:12px;

}

