body, #root {
  margin: 0;
  font-family: 'Open Sans', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/*
.RiskyPane {
  background-color: rgb(42, 42, 42);
  height: calc(100vh - 50px);
  padding: 15px;
  width: 300px;
}

.RiskyNavBar {
  width: 100%;
  height: 50px;
  background-color: rgb(48, 48, 48);
}
*/
.RiskyTree {
  height: calc(100vh);
  width: 100%;
  background-color: #191919;
}

#treeSelectCenter {

margin:auto;
margin-top:12px;
background-color:rgb(42, 42, 42); /*same as paneBackground*/
width:30vw;
min-width:240px;
max-width:440px;
border:2px solid rgb(238, 238, 238, .4);
padding:16px;
border-radius:4px;


}

#treeNameSelect {
background:none;
  }
/*  *.Mui-focused,.Mui-active,.Mui-focusVisible,.Mui-selected {

    outline: none;

  }
  .MuiOutlinedInput-root.Mui-focused {

    outline: 3px dashed orange;

  }
  .MuiOutlinedInput-root.fieldSet {

    outline: 3px dashed orange;
  }
  .MuiOutlinedInput-root.Mui-active {
    outline: 3px dashed orange;
}

.MuiOutlinedInput-root.Mui-focusVisible {
  outline: 3px dashed orange;
}

.MuiOutlinedInput-root.Mui-selected {
  outline: 3px dashed orange;
} */

@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans'), url(./fonts/OpenSans.ttf) format('truetype');
}