# This is a basic workflow to help you get started with Actions

name: E2E Tests CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3
      - uses: actions/checkout@v3
        with:
          repository: riskytrees/api-service
          token: ${{ secrets.REPO_PAT }}
          ref: master
          path: "api-service"
                
      - run: docker-compose up &
        working-directory: ./api-service
      
      - run: npx wait-on localhost:8000
      
      - name: Get yarn dependencies
        run: yarn
        
      - run: yarn run start &
        
      - run: npx wait-on localhost:8080
        
      - name: Run e2e tests
        run: npx cypress run
